# Fetch Stage.
-fetch:width 8 
-fetch:ifqsize 8 

# Decode.
-decode:width 16 

# Issue
-issue:inorder FALSE 
-issue:width 16 

# Commit.
-commit:width 16

# RUU and LSQ
-ruulsq:type shared 
-ruu:size 16 
-lsq:size 8 

# Branch Predictor.
-bpred:type forced:100 

# Functional Units.
-fu:type homo:3
# -fu:type hetero
# -res:ialu 5 
# -res:imult 2 
# -res:fpalu 5 
# -res:fpmult 2 
# -res:memport 3 

# System Cache Modules 
-imodules:num 1

# Instruction Caches.
-cache:il1 il1:1:32:64:4:l 
-cache:il2 dl2

# Data Caches. 
-cache:dl1 dl1:1:64:64:4:l 
-cache:dl2 ul2:1:1024:128:8:l 

# TLBS.
-tlb:itlb itlb:256:4096:8:l 
-tlb:dtlb dtlb:512:4096:8:l 

# process technology.
-technology TECH_800

